<%-include('../partials/header')%>

<section id="cocktail-profile">
    <div>Cocktail: </div>
    <div><%= cocktail.cocktail %></div>
    <div> image: </div>
    <div><%= cocktail.image %></div>
    <div>Directiosn: </div>
    <div><%= cocktail.instructions %></div>
    <div>Cocktail Ingredients: </div>
    <div><%= cocktail.recipe1 %></div>
    <div><%= cocktail.recipe2 %></div>
    <div><%= cocktail.recipe3 %></div>
    <div><%= cocktail.recipe4 %></div>
    <div><%= cocktail.recipe5 %></div>
</section>

 
<%-include('../partials/footer')%>