<%- include('../partials/header') %>

<% if (cocktails.length) { %>
    <% cocktails.forEach(function(c){ %>
        <table>
            <thead>
                <tr>
                    <th>Cocktail Name</th>
                    <th>Image</th>
                    <th>Instructions</th>
                    <th>Recipe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/cocktails/<%=c._id%>"><%= c.cocktail %></a>
                        <% if (!c.favorites.some(id => user._id.equals(id))) { %>
                        <form method="POST" action="/cocktails">
                            <input type="hidden" value="<%=c.cocktailId%>" name="cocktailId">
                            <input type="submit" value="Add to Favorites">
                        </form>
                        <% } else {  %>  
                            <form method="POST" action="/cocktails?_method=DELETE">
                                <input type="hidden" value="<%=c.cocktailId%>" name="cocktailId">
                                <input type="submit" value="Remove from Favorites">
                            </form>
                        <% } %> 
                    </td>
                    <td><img class="drink-image"src="<%= c.image %>" alt="drink-image"></td>
                    <td><%= c.instructions %></td>
                    <td>
                        <% if (c.recipe1) { %> <td> <%= c.recipe1 %> </td> <% } %>
                        <% if (c.recipe2) { %> <td> <%= c.recipe2 %> </td> <% } %>
                        <% if (c.recipe3) { %> <td> <%= c.recipe3 %> </td> <% } %>
                        <% if (c.recipe4) { %> <td> <%= c.recipe4 %> </td> <% } %>
                        <% if (c.recipe5) { %> <td> <%= c.recipe5 %> </td> <% } %>
                    </td>
                </tr>
            </tbody>          
            <% }); %>       
        
        <% } else { %>
            <h5>Search for a Drink</h5>
            <a href="/cocktails/search">Search</a>
        <% } %>
            

          
        
<%- include('../partials/footer')%>