<%- include('../partials/header') %>


<form action ="/cocktails/search" method="post">
    <input type="text" name="search" id="">
    <button type="submit">Submit</button>

</form>

<% if (drinks.length) { %>
    <% drinks.forEach(function(drink) { %>
        <table>
            <thead>
              <tr>
                <th>Cocktail Name</th>
                <th>Image</th>
                <th>Instruction</th>
                <th>Recipe</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <%= drink.strDrink %>
                    <form method="POST" action="/cocktails">
                        <input type="hidden" name="cocktail" value="<%=drink.strDrink %>">
                        <input type="hidden" name="cocktailId" value="<%=drink.idDrink %>" >
                        <input type="hidden" name="instructions" value="<%=drink.strInstructions %>" >
                        <input type="hidden" name="image" value="<%= drink.strDrinkThumb %>" >
                        <input type="hidden" name="recipe1" value="<%=drink.strIngredient1%>"> 
                        <input type="hidden" name="recipe2" value="<%=drink.strIngredient2%>"> 
                        <input type="hidden" name="recipe3" value="<%=drink.strIngredient3%>"> 
                        <input type="hidden" name="recipe4" value="<%=drink.strIngredient4%>"> 
                        <input type="hidden" name="recipe5" value="<%=drink.strIngredient5%>"> 
                        <input type="submit" value="Add to Favorites">
                    </form>
                </td>
                  <td><img class="drink-image"src="<%= drink.strDrinkThumb %>" alt="drink-image"></td>
                  <td><%= drink.strInstructions %></td>
                  <td>
                      <% if (drink.strIngredient1) { %> <td> <%=drink.strIngredient1%> </td> <% } %>
                      <% if (drink.strIngredient2) { %> <td> <%=drink.strIngredient2%> </td> <% } %>
                      <% if (drink.strIngredient3) { %> <td> <%=drink.strIngredient3%> </td> <% } %>
                      <% if (drink.strIngredient4) { %> <td> <%=drink.strIngredient4%> </td> <% } %>
                      <% if (drink.strIngredient5) { %> <td> <%=drink.strIngredient5%> </td> <% } %>
                  </td>
              </tr>
          </tbody>
          </table>

    <% }); %>

  <% } else { %>
    <h5>Search for a Drink</h5>
  <% } %>




<%- include('../partials/footer') %>